{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: linear-gradient(rgba(0,0,0,0.75), rgba(100,0,0,0));"}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </h1>
            {{! Description }}
            <h1 class="site-title">Bacteria Detection</h1>
            <h2 class="site-description">Real-time</h2>
            <p class="site-motivation">
				SBT Instruments aims to revolutionize the market for bacteria detection by introducing our patent-pending technology in a product which performs real-time detection of bacteria in aqueous solutions.
				<a class="read-more" href="technology">&raquo;</a>
            </p>
			<form id="newsletter" class="newsletter" action="https://sbtaqua.us11.list-manage.com/subscribe/post-json?u=0f3392790131fb82c930d8467&id=b509011eca" method="get" target="_blank" novalidate>
				<input type="email" value="" name="EMAIL" placeholder="E-mail">
				<input type="submit" value="Sign up" name="subscribe">
				<p>Receive regular updates via our newsletter.</p>
			</form>
        </div>
        {{> "site-nav"}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
